{#
/**
 * @file
 * Default theme implementation to present a supersale cart entity.
 *
 * This template is used when viewing a registered supersale cart's page,
 * e.g., /admin/content/supersale-cart)/123. 123 being the supersale cart's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_supersale_cart()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
